**1**. Write the following matrix

```
array([[ 1,  2,  3,  4,  5,  6],
       [ 2,  4,  6,  8, 10, 12],
       [ 3,  6,  9, 12, 15, 18],
       [ 4,  8, 12, 16, 20, 24],
       [ 5, 10, 15, 20, 25, 30],
       [ 6, 12, 18, 24, 30, 36]])
```

- 1) using `np.fromfunction` 
- 2) using `numpy` broadcasting
- 3) using `np.einsum`

For 2 and 3 you may use `np.arange(1,7)` as a building block

**2**. First recreate the DataFrame `df_x` as `df`. Now convert from `df` to `df1` and from `df1` to `df`

In [5]:
import pandas as pd

df_x = pd.read_csv('ex3_q2a.csv')
df1 = pd.read_csv('ex3_q2b.csv')

**3**. Using **code only**, convert Table 2 on the webpage 'https://www.bls.gov/web/empsit/cesbmart.htm' into the DataFrame `df` shown below. You are **not allowed** to copy and paste the table from the web page.

In [11]:
df = pd.read_csv('ex3_q3.csv')
df

,CES Industry Code,CES Industry Title,As Revised,As Previously Published,Amount,Percent
0,20-000000,Construction,7557.0,7574.0,-17.0,-0.2
1,31-000000,Durable goods,7961.0,8031.0,-70.0,-0.9
2,65-000000,Education and health services,24347.0,24408.0,-61.0,-0.3
3,55-000000,Financial activities,8850.0,8827.0,23.0,0.3
4,06-000000,Goods-producing,20949.0,21086.0,-137.0,-0.7
5,90-000000,Government,22774.0,22728.0,46.0,0.2
6,50-000000,Information,2898.0,2888.0,10.0,0.3
7,70-000000,Leisure and hospitality,16133.0,16124.0,9.0,0.1
8,30-000000,Manufacturing,12718.0,12806.0,-88.0,-0.7
9,10-000000,Mining and logging,674.0,706.0,-32.0,-4.7
10,32-000000,Nondurable goods,4757.0,4775.0,-18.0,-0.4
11,80-000000,Other services,5842.0,5850.0,-8.0,-0.1
12,08-000000,Private service-providing,107117.0,107276.0,-159.0,-0.1
13,60-000000,Professional and business services,21318.0,21456.0,-138.0,-0.6
14,42-000000,Retail trade,15483.6,15586.6,-103.0,-0.7
15,07-000000,Service-providing,129891.0,130004.0,-113.0,-0.1
16,00-000000,Total nonfarm,150840.0,151090.0,-250.0,-0.2
17,05-000000,Total private,128066.0,128362.0,-296.0,-0.2
18,40-000000,"Trade, transportation, and utilities",27729.0,27723.0,6.0,(1)
19,43-000000,Transportation and warehousing,5822.1,5668.2,153.9,2.6
20,44-220000,Utilities,547.0,545.9,1.1,0.2
21,41-420000,Wholesale trade,5876.6,5922.2,-45.6,-0.8

**4**. We have the genetic sequence of a mysterious organism below. Find the **longest** palindrome (sequence that reads the same backwards and forwards) in this 2000-base sequence. If there are ties, show all of them. 

```TTGACCTGGCCGTATGAGTTTGAGCGTGACTGGAGAGTGTCAACCTCTCGTGCTCCTTATTCTGCATCGCACGGATTTGT
AGTCATCATACTTACTATGGACATCCGTAGGGAAGCTAAACTCTGAGTGTTACTGCGGACTAAATATCATATGAAAGTAT
CAATCTACTGGCCCCGCACACGGTACTTAAGGCCATATTCATTCAACGCGCCACAATGTAGATACCAATAATCCGGTGGC
CGTCGATCTTCGGGTCAGGATGGGATAGGGAGTCGTCGTTTGGATACCTACACTCCATCATGGTGAAGTTGGTCAAGCGG
TCAGTAAATGACCACTCCCTTGGGCCGATATGCATCCTCTCGAGAGTAGTAAGTCCATCCGATAGGCTATGGAGAGCTCC
TCCATGTGATCGTTGGGCTGTGTAGTATCAGTTTTTGTTTAAAGTGTGAACGAGCGGGTACAACTGTAAACCGTCCCATG
GTTTGCGGTGGTGCCAGATATAAAGGGTATTCCACTGAACATACTTGTAAACAGCCCATAACCTTCCAACCCTCAATTTG
GCAGTTGGGATTCGGAACCGACCTGGCTCATGGGGGACGCCATATGATCGTCCTACCTCTGGCCGGAATGGTTGTGTTGA
TTAACTAATGTACGGATATGATAGGAAGTGGAAGTGTAGATCAGAGTATATTCACGCTGTCCAAAATTGACTAGGGATCC
ACGCTAGGTACCTATTACGGACCTTCCCAGGTGATTAGTCCGGCGGTAGCCTCCTGCCATTAGCAATTTCAGTCGGCAAT
TATGTGACCGTGCGCTGACATGGCGCTGGGGTATCAGGATGACAGTACTTTAGATTGCGGAGCGTATACTACGGAAGACG
GCATAAGTGGTAGGGGATCCTGAAAGCCACGTAGTAGACCAAGCCACGAAGATTAGGTTACGCCACCGTGCCCAAAAGCG
TTAAGGATCCAAGTAGGGTACTGTCCTCATGTGTAAGGAATCCTCCCCAGGTAAATTTGTAGTCTCCTACAGTGCGTAGG
CCGTGCTTTGGGTATGTACTACGTCCTGCCCTGGCTGGCTACCAGGATGTAGCTTACTGGTTCGTCGTATGAGAGTCCAT
AAGGCCCCAGACAAGGCTTTTTCTATATACAAGTCATAGTTTAATAGGTTTACGGTATGAGTTAGAACTTGCTATAGGGA
CGAACCTGTCGATATAGGGTGCGGATCGAAGTTATAATTGTGTCCTATAGGGACTCCTACAATATCCTAGCCTAACCAAC
CACGCTACCCCTATCAGGCGTAGACTTGGTGACCCTGACTATCAGCTTAGTATGGACCTCTCAACGCATGCCCTATAATG
GCAAAAGAGGCCATGTATTCGGCCTATCTCAAGCAACACACAAGATGGTCGCTCCTCGGGCGGAACGTCCTCCGACATAA
AATTGCGGCTCGGCCGGACAAAGGAAGGTGAGCAAAGCACAGGGCAACTGCTAATAGGTTTAGCGAGGAGACAATCGGAC
ACCTGGTAAGGCACATTTCACATTTCAGAGATCACCACTCTACCTGTGCACAACCTAATTGACGGTGGGTCTACAGCTAC
AATCGAGGATCAAACGCTAGGCAACGGCGTGAGTCCAGGCCCACCCGCCACATCGATAGGCACGAGTCTATTGCCCCCCG
TGAGCAAATCAGCGTACGTCGGAACGTCGCTTATCCGAATCAAAGCACTTTGCGGGGTCTCGATTGCCGCAGCGACCTTA
GACACGAGTTGAATACAGTACTAGAGTGTTAAAGCACCACCAGAAGCTTACTACACGGTCGAGTCTTTTTGTTTATAGGA
TCGTTGGGATCATACTGATTTAGGCACCCGCGAACAAATCATTACGTTCGCACAGCCCCTGGACGCTTGTTTACGGCCAA
CGGTTAGTTCTCCCAATCTGACTAAAGAGGGGTTCATGGATAAATTTGCATGTACGTTTAATAATAGGTCTGCTTGGAAG
```

**5**. Convert `df` to `df_end`.

In [15]:
df = pd.read_csv('ex3_q3.csv')
df

,CES Industry Code,CES Industry Title,As Revised,As Previously Published,Amount,Percent
0,20-000000,Construction,7557.0,7574.0,-17.0,-0.2
1,31-000000,Durable goods,7961.0,8031.0,-70.0,-0.9
2,65-000000,Education and health services,24347.0,24408.0,-61.0,-0.3
3,55-000000,Financial activities,8850.0,8827.0,23.0,0.3
4,06-000000,Goods-producing,20949.0,21086.0,-137.0,-0.7
5,90-000000,Government,22774.0,22728.0,46.0,0.2
6,50-000000,Information,2898.0,2888.0,10.0,0.3
7,70-000000,Leisure and hospitality,16133.0,16124.0,9.0,0.1
8,30-000000,Manufacturing,12718.0,12806.0,-88.0,-0.7
9,10-000000,Mining and logging,674.0,706.0,-32.0,-4.7
10,32-000000,Nondurable goods,4757.0,4775.0,-18.0,-0.4
11,80-000000,Other services,5842.0,5850.0,-8.0,-0.1
12,08-000000,Private service-providing,107117.0,107276.0,-159.0,-0.1
13,60-000000,Professional and business services,21318.0,21456.0,-138.0,-0.6
14,42-000000,Retail trade,15483.6,15586.6,-103.0,-0.7
15,07-000000,Service-providing,129891.0,130004.0,-113.0,-0.1
16,00-000000,Total nonfarm,150840.0,151090.0,-250.0,-0.2
17,05-000000,Total private,128066.0,128362.0,-296.0,-0.2
18,40-000000,"Trade, transportation, and utilities",27729.0,27723.0,6.0,(1)
19,43-000000,Transportation and warehousing,5822.1,5668.2,153.9,2.6
20,44-220000,Utilities,547.0,545.9,1.1,0.2
21,41-420000,Wholesale trade,5876.6,5922.2,-45.6,-0.8

In [16]:
df_end = pd.read_csv('ex3_q5.csv')
df_end

,Industry Group,CES Industry Title,As Revised,As Previously Published,Amount,Percent
0,Good,Durable goods,7961.0,8031.0,-70.0,-0.9
1,Good,Goods-producing,20949.0,21086.0,-137.0,-0.7
2,Good,Nondurable goods,4757.0,4775.0,-18.0,-0.4
3,Service,Education and health services,24347.0,24408.0,-61.0,-0.3
4,Service,Other services,5842.0,5850.0,-8.0,-0.1
5,Service,Private service-providing,107117.0,107276.0,-159.0,-0.1
6,Service,Professional and business services,21318.0,21456.0,-138.0,-0.6
7,Service,Service-providing,129891.0,130004.0,-113.0,-0.1
8,Trade,Retail trade,15483.6,15586.6,-103.0,-0.7
9,Trade,"Trade, transportation, and utilities",27729.0,27723.0,6.0,(1)
10,Trade,Wholesale trade,5876.6,5922.2,-45.6,-0.8