# BIOS 823 Midterm Exam

- This is an open book exam
- There are 4 questions worth 25 points each
- There is 1 bonus question worth 10 points
- The maximum number of points is 100
- Points will be deducted for poor coding practices
- Points will be deducted for inefficient code
- The exam will be for 90 minutes only 4:45 - 6:15 PM

Please print your name below to indicate that you agree to follow the **Duke Honor Code**

NAME:

If you do not print your name, it is an automatic 25 point deduction.

**1**. 25 points

- Create the following `numpy` array $A$ using `fromfunction` (10 points)
    - If you cannot create the matrix, load it using `A = np.load(ex1.npy)`. You will not receive credit for the first part but can still receive credit for the other parts.
```
array([[0, 1, 2, 3, 4],
       [1, 0, 2, 3, 4],
       [2, 2, 0, 3, 4],
       [3, 3, 3, 0, 4],
       [4, 4, 4, 4, 0]])
```

- Transform $A$ into $B$ such that all *rows* of $B$ have length 1. Check your solution. (15 points)

**2**. 25 points

For this question, you can assume that the input is an integer.

- Count the number of **palindromic** prime numbers less than 1,000,000 (10 points)
    - Single digit primes are automatically palindromic.
- Find all positive integers under 10,000 with the property that the integer is equal to the sum of its proper divisors. A proper divisor includes 1 but not the number itself. For example, one such integer is 6, since 6 = 1+2+3 (15 points)

**3**. 25 points

You are given this string

```
AAAACCATCGGCTGTAGCCGACTCGCACTATCCAGGGGTAGTAACTGAACTATTGAGTCCCCAGCGTTATATGTGGTTTG
CGAGATAACGCTGTTACGAGTACTGCCAGATACAACTACGCAATTCCGCGCAGGGTCATTAATGATTACCGTCTAGATAG
GAGACACTAGTTAATTACTAAACCATTTCTATCGTCATAAGCGTACAGGTTCAGGGTATTGGGCGCATGTAGGATAGGCT
TATTGCCCTCCACAGGGACTCTTCCGCTAATTGTATCATAAAACAGACTATGGCCTCCTGAGTAGACCACTGAGAGTGGT
CAAGTAATGAGCAATTTAAGATGATTTGGAAGGCTCAAGCTTTACGGATTTGGCCGGGACCCTGAAGTCAGGGCGCACGG
GCCTATTACTAATCCCATTCCGCATGCAACATACTGCTCATCACCGTTTATAGCTTGAACTTGTAGATGCCCGGGCACTG
CGCGACGCTCTCCGGTGGCTTCTTTCTTTTCCGTTCCGCGCTTCAGACCCAACTAATAGGCACTCAAAGGTGGGAGGGCC
GATGACCACCACGCATAGAGTGCACGTCATCTATGATCCGACGACTTGCCACCTGTCTACTTTAGAGTTCAAACATTCAG
GCACTGCTGACCCGTATAGCAAGCATAAATTAGCGCAACGGGCGGCGGTGTATGCCTTTAACATTCGAGCTATACTCAGT
CGGATAGGCTCTCGTCACTACTGGCCGGGGTCGAAAGTTGACACGGATTAGTGGATCCCTGTTTTGGGTTTAGTTTCCTC
```

This should be considered as a *single* sequence of length 800, not 10 sequences of length 80.

- Use a regular expression to find the number of sequences that begin and end with `A` and have length between 6 and 8 (inclusive). For full credit, use a non-greedy regular expression. (10 points)
- Print the 10 most common substrings of length 3 with their counts (15 points)

**4**. 25 points

- Read the `feather` file `ex4.feather` into a `pandas` DataFrame `df1`. 
    - Note this is a 1,000,000 by 100 DataFrame
- Create a new DataFrame `df2` from the 10 columns that have the highest mean value (5 points)
- Create a new DataFrame `df3` from the 10 columns that have the suffix 07 (5 points)
- Create a new DataFraem `df4` containing the min, max and average of all columns that begin with the same letter . The min, max, and average should be 3 separate rows, and the columns will be `A`, `B`, etc (15 points)
    - The total time taken for the code should not take more than 1 minute to complete

Note: You are **not** allowed to specify any column names such as `B05` directly in these questions. 
- Doing so will result in a deduction of 10 points from your final score

Suggestion: You might want to work with a subset of the data until you are sure your code is correct and efficient. Otherwise you might have to wait a long time.

**5**. Bonus question - 10 points

Do this only if you have time.

Connect to the `Chinnok.db` SQLite3 database. Find the names of the music tracks bought by the customer with the highest total amount in a single invoice.